@media (max-width: 600px) {
  h1 {
    font-size: smaller;
  }
}

body {
  background-color: rgb(151, 144, 144);
  margin-left: 25%;
  margin-right: 25%;
}
h1 {
  display: flex;
  justify-content: center;
}

.title-color {
  color: blue;
}

.para-color {
  color: purple;
}

.list-color {
  color: brown;
}
